
@{
    ViewBag.Title = "Index";
}

<h2>Tipo Habitacion</h2>




<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtNombreTipoHabiacion"
           placeholder="Ingrese el nombre tipo habitacion" >
    <button class="btn btn-primary" type="button" 
            onclick="Buscar()"
            id="btnNombreTipoHabitacion">BUSCAR</button>
</div>
<div id="divTabla">
   
</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipoHabitacion.js"></script>

