
@{
    ViewBag.Title = "Index";
}

<h2>Tipo Habitacion</h2>

<div class="container">


    <fieldset class="container-fluid mb-3" style="border:1px solid; border-radius:5px; margin-right:15px">
        <legend>Datos de tipo habitacion</legend>
        <form id="frmTipoHabitacion">
            <div class="row">
                <div class=" mb-3 col-md-6">
                    <label>ID TIPO HABITACION</label>
                    <input type="text" class="form-control" name="id" value="0" readonly>
                </div>
                <div class=" mb-3 col-md-6">
                    <label>NOMBRE HABITACION</label>
                    <input type="text" class="form-control" name="nombre" id="" placeholder="">
                </div>

            </div>
            <div class="row">
                <div class=" mb-3 col-md-12">
                    <label>DESCRIPCION HABITACION</label>
                    <input type="text" class="form-control" name="descripcion" id="" placeholder="">
                </div>
            </div>
            <div class=" mb-3">
                <button type="button" class="btn btn-success" onclick="GuardarDatos()">Guardar</button>
                <button type="button" class="btn btn-danger" onclick="LimpiarCampos()">Canelar</button>
            </div>
        </form>
    </fieldset>
</div>

<div id="divTabla">

</div>

<script src="~/Scripts/SweetAlert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipoHabitacion.js"></script>

