
@{
    ViewBag.Title = "Index";
}

<h2>Tipo Habitacion</h2>

<div id="divTabla">
    <h1>df</h1>
</div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/tipoHabitacion.js"></script>

