
@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>


<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtNombreTipoHabiacion"
           onkeyup="Buscar()"
           placeholder="Ingrese el nombre producto">
    
</div>

<div id="divTabla">

</div>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Productos.js"></script>