
@{
    ViewBag.Title = "Index";
}

<h2>Listado tipo Usuarios</h2>


<div id="formularioUsuario">
    <button type="button" class="btn btn-success" id="" onclick="Guardar()">fsf</button>
</div>
<div id="divTablaTipoUsuario"></div>

<script src="~/Scripts/SweetAlert.js"></script>
<script src="~/Scripts/generic.js"></script>

<script src="~/Scripts/FuncionesGeneeriacas.js"></script>
<script src="~/Scripts/fomularios.js"></script>
<script src="~/Scripts/tipoUsuario.js"></script>
