
@{
    ViewBag.Title = "Index";
}

<h2>Listado tipo Usuarios</h2>


<div id="divTablaTipoUsuario">

</div>

<script src="~/Scripts/generic.js"></script>

<script src="~/Scripts/tipoUsuario.js"></script>
